a #pagina-atual {
    color: #E5E5E5;
}

#bar-horizontal{
    list-style: none;
    padding: 10px 20px;
    border: solid 1px #FFF;
    display: flex;
    justify-content: space-between;

}

#bar-horizontal #logo img {
    width: 160px;
}


#bar-horizontal ul {
    list-style: none;

}

#bar-horizontal ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
}

#bar-horizontal ul li a:hover {
    color: #ED1B30;
    background-color: #FFF;
}


#bar-horizontal #menu{
    display: flex;
    align-items: center;
}