a #pagina-atual {
    color: #E5E5E5;
}

#bar-horizontal{
    display: flex;
    justify-content: space-between;
    
    padding: 10px 20px;
    
    list-style: none;
}

#bar-horizontal #logo img {
    width: 160px;
}


#bar-horizontal ul {
    list-style: none;
}

#bar-horizontal ul li a {
    display: inline-block;
    padding: 20px;

    text-decoration: none;
    color: #FFF;
    font-size: 20px;
}

#bar-horizontal ul li a:hover {
    background-color: #FFF;
    color: #ED1B30;
}


#bar-horizontal #menu{
    display: flex;
    align-items: center;
}