* {
    padding: 0;
    margin: 0
}


#corpo h1 {
    padding: 10px;
    color: #ED1B30
}

#corpo {
    padding: 10px;
}
#corpo ul {
    list-style: none;
}

#informacoes {
    padding: 10px;
    font-size: 20px;
}